body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: 'Arial', sans-serif;
    background: linear-gradient(135deg, #ff9c5a 0%, #fd9999 100%);
}

.container {
    text-align: center;
    background: #fff;
    padding: 40px;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

h1 {
    color: #ff6f91;
    font-size: 2.5em;
    margin-bottom: 10px;
}

p{
    color: #ff6f91;
    font-size: 1.2em;
    margin-bottom: 20px;
}
h2{
    margin-top: 50px;
    color: #ff6f91;
    font-size: 1.2em;
}

.input-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

input[type="text"] {
    padding: 10px;
    font-size: 1em;
    border: 2px solid #ff6f91;
    border-radius: 5px;
    outline: none;
}

button {
    padding: 10px 20px;
    font-size: 1em;
    color: #fff;
    background-color: #ff6f91;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #ff8aaa;
}

ul{
    list-style-type: none;
    padding: 0;
    color: #ff6f91;
    font-size: 1.2em;
    margin-bottom: 20px;
}